<%= erb :header %>

<h1>Contact Information</h1>

<p>Twitter: <a target="_blank" href="https://twitter.com/curryhouse02">@curryhouse02</a></p>
<p>
  Address: 67 Botley Road <br/>
  MIDDLESTONE MOOR <br/>
  DL16 9WW
</p>

<%= erb :footer %>