<!DOCTYPE html>
<html>
<head>
  <link href="style/style.css" rel="stylesheet" type="text/css" />
  <title>About us</title>
</head>
<body>
<h1>About us</h1>

<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="menu">Menu</a></li>
    <li class="highlight"><a href="about">About us</a></li>
  </ul>
</nav>

<p>Contact Information</p>


</body>
</html>