</div>
</div>
</div>

<!-- Bootstrap core JavaScript -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $('.nav-tabs a').click(function (e) {
          e.preventDefault();
          $(this).tab('show');
        })
    </script>
</body>
</html>
