<%= erb :header %>
<!--<p>-->
  <!--You logged into the member's area at-->
  <!--&lt;!&ndash;%= session[:login_time].strftime("%d/%m/%Y at %I:%M%p") %>&ndash;&gt;-->
<!--</p>-->
<h1>Welcome to Curry House!</h1>

<p class="lead">Your first stop for all your curry takeaway needs.<p>
<p>Whether you're new, coming home to us after your holidays, or a 'seasoned' veteran (get it?);<br> we're sure you'd agree that we are your #1 stop in Sheffield to fulfill all your Curry needs.</p>
<br>
<p>If you need, feel free to visit our <a href="instructions">customer instructions</a> page for a no nonsense guide.</p>

<%= erb :footer %>
