<%= erb :header %>

<h1>Order Instructions!</h1>

<p>Here are the instructions for how to order via Twitter, and tracking your order!</p>
<p>
  Tweet us at <a href="https://twitter.com/curryhouse02">@curryhouse02</a>
  with a message containing 'order' and the things that you want to order e.g. '@curryhouse02 order Chicken Makhani'.
</p>
<p>To cancel, tweet us with your message containing only 'cancel id' where id is you Order ID. An example tweet would be '@curryhouse02 cancel 65'.</p>

<%= erb :footer %>