<%= erb :header %>

<h1>Instructions</h1>
<p>Here are the instructions for how to order via Twitter, and tracking your order!</p>
<p>To tweet on @curryhouse02 with a message containing 'order' and the things that you want to order.Ex '@curryhouse02 order Chicken Makhani'.</p>
<p>To cancel tweet us with your message only containing 'cancel id' where id is you Order ID.An example tweet would be '@curryhouse02 cancel 65'.</p>
<%= erb :footer %>