<%= erb :header %>

<h1>Order Instructions!</h1>

<p>Here are the instructions for how to order via Twitter, and tracking your order!</p>
<br>

<h3>Ordering</h3>
<p>
  Tweet us at <a href="https://twitter.com/curryhouse02">@curryhouse02</a>
  with a message containing 'order' and the id of the things that you want to order separated by spaces e.g. '@curryhouse02 order 1 3 7'.
</p>
<p>If you want to order more than one of an item, please enter the id of the item that many times e.g. '@curryhouse02 order 5 5 5 4 9'</p>
<br>

<h3>Make sure you have enough CurryPounds&trade;!</h3>
<p>When you have an unpaid order it will be automatically processed once you deposit enough CurryPounds&trade; in your balance.</p>
<br>

<h3>Cancelling</h3>
<p>To cancel, tweet us with your message containing only 'cancel id' where id is your Order ID. An example tweet would be '@curryhouse02 cancel 65'.</p>

<%= erb :footer %>