<%= erb :header %>

<div class="starter-template">
  <h1>Thank you visiting us <%= session[:email] %>. <a href ='/'>Click here to go back to the site!</a></h1> <!-- change to session[:name] later -->

</div>

<%= erb :footer %>
