<%= erb :header %>

<table>
  <tr>
    <th>Item name</th>
    <th>Price</th>
  </tr>
  <tr>
    <td>item 1</td>
    <td>price 1</td>
  </tr>
  <tr>
    <td>item 2</td>
    <td>price 2</td>
  </tr>
  <tr>
    <td>item 3</td>
    <td>price 3</td>
  </tr>
</table>

<%= erb :footer %>