<!DOCTYPE html>
<html>
<head>
  <link href="style/style.css" rel="stylesheet" type="text/css" />
  <title>Menu</title>
</head>
<body>
<h1>Menu</h1>

<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li class="highlight"><a href="menu">Menu</a></li>
    <li><a href="about">About us</a></li>
  </ul>
</nav>

<table>
  <tr>
    <th>Item name</th>
    <th>Price</th>
  </tr>
  <tr>
    <td>item 1</td>
    <td>price 1</td>
  </tr>
  <tr>
    <td>item 2</td>
    <td>price 2</td>
  </tr>
  <tr>
    <td>item 3</td>
    <td>price 3</td>
  </tr>

</table>


</body>
</html>