<%= erb :dashboard_header %>

<h1>Statistics</h1>

<br/>
<p>Total number of registered customers: <%= @nreg_users%></p>
<p>Total number of orders: </p>
<p>Visits today: </p>
<p>Average daily visits: </p>
<p>Most popular item id: <%=@popular_item%></p>
<p>Average order costs: </p>
<!-- todo add more -->

<%= erb :dashboard_footer %>