body {
    padding-top: 50px;
    background: url(../img/bg.png);
}
.page_wrap {
    width: 70%;
    margin: 0 auto;
    min-width: 360px;
    max-width: 1140px;
}
h3 {
    text-align: left;
    text-decoration: underline;
    font-weight: 400;
}
ul {
    text-decoration: none;
}
form {
    text-align: left;
}
tr:nth-child(even) {
    background-color: #f2f2f2
}
footer {
    width: 70%;
    margin: 30px auto 15px;
    min-width: 360px;
    max-width: 1140px;
}
#twitter_icon {
    width: 30px;
    height: 30px;
    float: right;
}
.left {
    float: left;
}
.right {
    float: right;
}
.centred {
    margin: 0 auto;
}
.boxed {
    border: 3px solid orange;
    width: 40%;
    padding: 30px 50px;
    margin: 42px 5%;
}
th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
th {
    font-size: 1.2em;
    height: 2.3em;
}